<div class="social-link-items">
   <a
      mat-icon-button
      href="https://www.linkedin.com/company/xemote-remote-sensing-and-control/"
      target="_blank"
   >
      <app-social-icon [icon]="'linkedin'"/>
   </a>
   <a
      mat-icon-button
      href="https://www.facebook.com/XemoteRemoteSensing"
      target="_blank"
   >
      <app-social-icon [icon]="'facebook'"/>
   </a>
   <a
      mat-icon-button
      href="https://www.youtube.com/channel/UCiyn0tv4IOmk_PbIUs3Tmug/featured"
      target="_blank"
   >
      <app-social-icon [icon]="'youtube'"/>
   </a>
   <a
      mat-icon-button
      href="https://api.whatsapp.com/send?phone=https://wa.me/27126651122"
      target="_blank"
   >
      <app-social-icon [icon]="'whatsapp'"/>
   </a>
</div>
