<mat-card class="product-card">
   <div class="product-image-container">
      <img
         class="product-image clickable"
         alt="{{product.name}} image"
         [ngSrc]="product.imageUrl"
         width="400"
         height="266"
      />
   </div>
   <mat-card-content>
      <div class="product-card-content">
         <span>
            <p class="product-name mat-subtitle-1 clickable">{{product.name}}</p>
            <p
               class="product-price mat-body-1">
               {{toCurrencySymbol(product.price.currency)}}{{product.price.price.toFixed(2)
               | number}}
            </p>
         </span>
         <button
            class="add-product-to-cart"
            mat-icon-button
         >
            <mat-icon>shopping_cart</mat-icon>
         </button>
      </div>
   </mat-card-content>
</mat-card>
