.offerings-section-container {
   display: flex;
   flex-direction: column;
   margin-top: 4rem;
   margin-bottom: 4rem;

   .offerings-section-header {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;

      .offerings-section-header-title {
         margin-top: 3rem;
      }

      .offerings-section-quote-container{
         display: flex;
         align-items: center;

         .offerings-section-quote {
            margin: auto;
         }
      }

   }

   .offerings-section-header-mobile {
      display: flex;
      flex-direction: column;
      gap: 2rem;


      .offerings-section-header-title {
         margin-top: 3rem;
         text-align: center;
      }

      .offerings-section-quote-container{
         display: flex;
         align-items: center;
         margin-bottom: 4rem;

         .offerings-section-quote {
            margin: auto;
            margin-top: 1rem;
         }
      }
   }

   .offerings-section-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin-left: 2rem;
      margin-right: 2rem;

      .offerings-card-container {
         margin-left: 1rem;
         margin-right: 1rem;
      }

      .offerings-card-header {
         margin-bottom: 1rem;
      }

      .offerings-card-title {
         margin-top: 1rem;
         display: flex;
         flex-direction: row;
         gap: 1rem;
      }

      .offerings-card-content {
         text-align: left;
      }
   }

   .offerings-section-content-mobile {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;

      .offerings-card-container {
         margin-left: 1rem;
         margin-right: 1rem;
      }

      .offerings-card-header {
         margin-bottom: 1rem;
         justify-content: center;
      }

      .offerings-card-title {
         margin-top: 1rem;
         display: flex;
         flex-direction: row;
         gap: 1rem;
      }

      .offerings-card-content {
         text-align: left;
      }
   }

}
