<div class="footer-section">
   <div class="footer-section-content">
      <div class="footer-section-meta-description">
         <div></div>
         <div>
            <h1>Logo</h1>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                   incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
         </div>
      </div>
      <div class="footer-section-navigation">
         <h4>Navigation</h4>
         <p>Lorem</p>
         <p>Ipsum</p>
         <p>Dolar</p>
         <p>Sit</p>
         <p>Amet</p>
         <p>Auto</p>
         <p>Bear</p>
         <h4>Legal</h4>
         <p>Anto</p>
         <p>Privacy</p>
      </div>
      <div class="footer-section-contact">
         <h4>Contact Info</h4>
         <p>Lorem</p>
         <p>Ipsum</p>
         <p>Dolar</p>
         <p>Amet</p>
         <button>Contact Us</button>
      </div>
   </div>
   <div class="footer-section-copyright">
      This Site Is Intended For Mock, Non-Commercial Purposes | Xemote | Dunn Atelier
   </div>
</div>
