.footer-section {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 3rem;
   gap: 3rem;

   .footer-section-content {
      width: 110rem;
      margin: auto;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      margin-bottom: 2rem;


      .footer-section-meta-description {
         padding: 2rem;
      }

      .footer-section-navigation {
         padding: 2rem;
      }

      .footer-section-contact {
         padding: 2rem;
      }
   }

   .footer-section-copyright {
      text-align: center;
   }

   .contact-item {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .contact-item-content {
         margin-top: 5px;
      }
   }
}
