<div class="products-list-container">
   <div
      class="products-queries"
   >
      <div class="query-and-sort">
         <span><h3>1-20 of 138 results for "Xemote"</h3></span>
         <app-products-sort/>
      </div>
      <div class="active-filters">
         <mat-chip-listbox>
            <mat-chip-option>Lorem <button>x</button></mat-chip-option>
            <mat-chip-option>Dolar <button>x</button></mat-chip-option>
            <mat-chip-option>Sit Amet <button>x</button></mat-chip-option>
         </mat-chip-listbox>
      </div>
   </div>
   <div
      class="loading-indicator"
      *ngIf="(productsLoading | async) !== false"
   >
      <span></span>
      <mat-progress-spinner mode="indeterminate"/>
      <span></span>
   </div>
   <div
      class="products-list"
      *ngIf="(productsLoading | async) === false"
   >
      <app-product-card
         *ngFor="let product of (products | async)"
         [product]="product"
      />
   </div>
   <mat-paginator *ngIf="(productsLoading | async) === false"/>
</div>
