.products-list-container {

   .loading-indicator {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      justify-items: center;
   }

   .products-queries {

      .query-and-sort {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;

         .query-result {
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
      }
   }

   .products-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
   }
}
