<div class="products-list-container">
   <div class="products-queries">
      <div class="query-and-sort">
         <span>
            <h3 *ngIf="(query$ | async) && (page$ | async)?.limit != 0">
               {{currentIndexLowerBounds$ | async}}-{{currentIndexUpperBounds$ | async}}
               of {{count$ | async}}
               results for "{{query$ | async}}"
            </h3>
         </span>
         <app-products-sort/>
      </div>
      <div class="active-filters-container">
         <app-active-products-filters-chip-list/>
      </div>
   </div>
   <div
      class="loading-indicator"
      *ngIf="(productsLoading | async) !== false"
   >
      <span></span>
      <mat-progress-spinner mode="indeterminate"/>
      <span></span>
   </div>
   <div
      class="products-list"
      *ngIf="(productsLoading | async) === false"
   >
      <app-product-card
         *ngFor="let product of (products$ | async)"
         [product]="product"
      />
   </div>
   <mat-paginator
      *ngIf="(productsLoading | async) === false"
      [pageIndex]="(page$ | async)?.index || 0"
      [pageSize]="(page$ | async)?.limit || 0"
      [length]="(products$ | async)?.length || 0"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      (page)="page($event)"
   />
</div>
