.products-list-container {
   margin-bottom: 1rem;

   .products-queries {

      .query-and-sort {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;

         .query-result {
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
      }
   }

   .products-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-bottom: 1rem;
   }

   .products-list-mobile {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
   }
}
