<div class="products-list">
   <div class="products-queries">
      <div class="query-and-sort">
         <span><h3>1-20 of 138 results for "Xemote"</h3></span>
         <span class="sort-by"><p>Sort By:</p></span>
      </div>
      <div class="active-filters">
         <mat-chip-listbox>
            <mat-chip-option>Lorem <button>x</button></mat-chip-option>
            <mat-chip-option>Dolar <button>x</button></mat-chip-option>
            <mat-chip-option>Sit Amet <button>x</button></mat-chip-option>
         </mat-chip-listbox>
      </div>
   </div>
   <div class="products">
      <app-product-card
         *ngFor="let product of (products | async)"
         [product]="product"
      />
   </div>
   <mat-paginator/>
</div>
