<div class="landing-section">
    <div class="landing-section-content">
        <span>
            <h1>The leading name in Automatic monitoring and control.</h1>
        </span>
        <span>
            <h3>Whether you want to monitor one point in a pharmacy or hundreds of points in a factory, Xemote is your scalable remote monitoring partner.</h3>
        </span>
        <span>
            <button>{{"Contact Us" | uppercase }}</button>
            <button>{{"Schedule A Call" | uppercase }}</button>
        </span>
    </div>
    <div class="landing-section-image">
        <img src="">
    </div>
</div>
