.hero-section-container {
   display: flex;
   flex-direction: row;
   max-width: 100rem;
   margin: auto;
   margin-top: 8%;
   margin-bottom: 1rem;

   .hero-section-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;

      .headline {
         max-width: 80rem;
         margin-left: auto;
         margin-right: auto;
      }

      .divider {
         max-width: 20rem;
         margin-bottom: 1rem;
      }

      .hero-actions {
         display: flex;
         flex-direction: row;
         gap: 1rem;
         margin: auto;
         margin-top: 1rem;
      }
   }

   .hero-image {
      margin-top: auto;
      margin-bottom: auto;
   }
}
