.hero-section-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   margin: auto;
   margin-top: 4rem;
}

.hero-section-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   text-align: center;
   margin-top: auto;
   margin-bottom: auto;

   .headline {
      margin-left: auto;
      margin-right: auto;
   }

   .divider {
      max-width: 20rem;
      margin-bottom: 1rem;
   }

   .hero-actions {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: auto;
      margin-top: 1rem;
   }
}

.hero-image-container {
   margin-left: auto;
   margin-right: auto;
}

.hero-image {
   width: 100%;
   height: auto;
}

.hero-image-mobile {
   width: 100%;
   height: auto;
}

.hero-section-container-mobile {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   margin: auto;
   margin-top: 8%;
   margin-bottom: 1rem;
}
