<div class="products-price-range-filter-container">
   <div class="products-price-range-filter-header">
      <h3>Price Range</h3>
      <p>R{{minPrice | number}} - R{{maxPrice | number}}</p>
   </div>
   <div class="price-range-slider-container">
      <mat-slider
         class="price-range-slider"
         discrete
         [max]="priceRangeMax"
         [disableRipple]="true"
         step="100"
      >
         <input matSliderStartThumb
                [(value)]="minPrice"
                (valueChange)="minProductPriceRangeFilterChanged($event)"
         >
         <input matSliderEndThumb
                [(value)]="maxPrice"
                (valueChange)="maxProductPriceRangeFilterChanged($event)"
         >
      </mat-slider>
   </div>
</div>
