<div class="products-price-range-filter-container">
   <div class="products-price-range-filter-header">
      <h3 class="mat-headline-6">Price Range</h3>
      <p class="mat-body-2">R{{(priceRangeFilter$ | async)?.start || 0 | number}} -
         R{{(priceRangeFilter$ | async)?.end || priceRangeMax | number}}</p>
   </div>
   <div class="price-range-slider-container">
      <mat-slider
         class="price-range-slider"
         discrete
         [max]="priceRangeMax"
         [disableRipple]="true"
         step="100"
         color="accent"
      >
         <input matSliderStartThumb
                [value]="(priceRangeFilter$ | async)?.start"
                (dragEnd)="productPriceRangeFilterChanged($event)"
         >
         <input matSliderEndThumb
                [value]="(priceRangeFilter$ | async)?.end || priceRangeMax"
                (dragEnd)="productPriceRangeFilterChanged($event)"
         >
      </mat-slider>
   </div>
</div>
