<div class="sort-by-container">
   <span>
      <p>Sort By:</p>
   </span>
   <span>
      <mat-form-field appearance="outline">
         <div class="sort-by-form-container">
            <mat-icon>{{orderByIcon(orderByOption$ | async)}}</mat-icon>
            <mat-select
               hideSingleSelectionIndicator="true"
               value="{{sortByOption$ | async}}"
            >
               <mat-option
                  [value]="(sortByOption$ | async)"
                  *ngFor="let sortByOption of productSortByOptions"
                  (click)="toggleSortBy(sortByOption)"
               >
                  {{sortByOption}}
               </mat-option>
            </mat-select>
         </div>
      </mat-form-field>
   </span>
</div>
