<div
   class="sort-by-container"
   *ngIf="(sort$ | async) !== undefined"
>
   <span>
      <p>Sort By:</p>
   </span>
   <span>
      <mat-form-field appearance="outline">
         <div class="sort-by-form-container">
            <mat-icon>{{orderByIcon((sort$ | async)?.order)}}</mat-icon>
            <mat-select
               hideSingleSelectionIndicator="true"
               [value]="(sort$ | async)?.field"
            >
               <mat-option
                  [value]="sortByOption"
                  *ngFor="let sortByOption of productSortByOptions"
                  (click)="toggleSortBy(sortByOption)"
               >
                  {{formatSortOption(sortByOption)}}
               </mat-option>
            </mat-select>
         </div>
      </mat-form-field>
   </span>
</div>
