.sort-by-container {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   align-items: center;

   .sort-by-form-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
   }
}

.sort-by-label {
   margin-top: 1.3rem;
}
