.store-toolbar-container {
   margin-top: 3rem;
}

.store-toolbar {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 3rem;
   margin-right: 3rem;
   padding: 0;

   .store-toolbar-search {
      text-align: center;
   }

   .store-toolbar-actions {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 1rem;
      align-items: center;
   }
}

.store-toolbar-mobile {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;
   padding: 0;
   align-items: center;

   .store-toolbar-search {
      text-align: center;
      width: 100%;
   }

   .store-toolbar-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
   }
}
