.store-page-content {
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 2rem;
   margin: 3rem;
};

.store-page-content-mobile {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-left: 2rem;
   margin-right: 2rem;
};
