<div class="products-filters-container">
   <mat-card>
      <mat-card-header>
         <mat-card-title>
            <h1>Filter</h1>
         </mat-card-title>
      </mat-card-header>
      <mat-divider/>
      <mat-card-content>
         <h3>Category</h3>
         <div class="category-filters">
            <mat-checkbox
               *ngFor="let category of productCategoryOptions"
               (change)="filterByCategory(category, $event.checked)"
               [checked]="(activeCategoryFilters$ | async)?.includes(category) || false"
               [disabled]="(productsLoading$ | async) !== false"
            >
               {{category}}
            </mat-checkbox>
         </div>
         <h3>Price</h3>
         <p>R0.00 - R10000.00</p>
         <mat-slider>
            <input matSliderStartThumb>
            <input matSliderEndThumb>
         </mat-slider>

      </mat-card-content>
   </mat-card>
</div>
