.home-page {
   display: flex;
   flex-direction: column;

   .home-page-content {
      display: flex;
      flex-direction: column;
      width: 67%;
      margin: auto;
      margin-top: 5rem;
      gap: 5rem;
   }

   .home-page-content-mobile {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 5rem;
      margin-left: 2rem;
      margin-right: 2rem;
      gap: 5rem;
   }
}
