.testimonials-section {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 3rem;
   gap: 3rem;

   .testimonials {
      margin-bottom: 6rem;
   }

   .testimonial-content {
      max-width: 80rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin: auto
   }

   .clients {
      margin-top: 4rem;
      margin-bottom: 6rem;
   }

   .client-cards-container {
      margin-bottom: 2rem;
   }

   .client-card {
      min-height: 6rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
   }

   .client-card-content {
      margin-top: auto;
      margin-bottom: auto;
   }
}
