<div class="navigation-items">
   <span>
      <a
         mat-flat-button
         routerLink="/"
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Home
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         routerLink="/store"
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Store
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Solutions
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Technology Features
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Services
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         About Us
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Contact Us
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Careers
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         color="primary"
         class="mat-subtitle-2 navigation-item"
      >
         Log In
      </a>
   </span>
</div>
