<div class="navigation-items">
   <span>
      <a
         mat-flat-button
         routerLink="/"
         [disableRipple]="true"
      >
         Home
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         routerLink="/about"
         [disableRipple]="true"
         [disabled]="true"
      >
         About
      </a>
   </span>
   <span>
      <a
         mat-flat-button
         routerLink="/sign-in"
         [disableRipple]="true"
      >
         <p>Sign In</p>
      </a>
   </span>
</div>
